@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome </h1>
    <p> This is a basic application I created in Visual Studio. Making use of the .NET framework, C#, and a bit of HTML and CSS. </p>
</div>
<div class="text-center">
    <h2><strong>What does the application do?</strong></h2>
    <p> It was made to demonstrate how a database would be used say in a Veterinary Surgery. It allows the user (<emp>Vet staff</emp>) to maintain a database in which
        they would be able to store, view, edit and delete client information.</p>
        <br />
        <p>Click on the Clients Tab above to get started</p>
</div>
